.nav-style,
.nav-style-loggedin {
  background-color: #fbfbfb;
  padding: 10px;
  color: #525151;
}

.nav-style > ul,
.nav-style-loggedin > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 1rem;
}

.nav-style > ul > li > a,
.nav-style-loggedin > ul > li > a {
  margin: 5px;
  border: 2px solid #525151;
  padding: 10px 40px;
  color: #584b4b;
  text-transform: uppercase !important;
  letter-spacing: 1px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.nav-style > ul > li > a:hover {
  background-color: #fff;
  color: #284b63;
}

.nav-style-loggedin button{
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #525151;
  text-transform: uppercase !important;
}





